main {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #838282;
  font-family: Arial, sans-serif;
}
.top-4 {
  background-color: green;
  color: white;
}
.bot-4 {
  background-color: red;
  
}

.tabela {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;

  thead {
    background-color: #dfdfdf;

    th {
      padding: 10px;
      font-weight: 600;
      border: 1px solid #a0a0a0;
    }
  }

  tbody {
    th {
      background-color: rgb(240, 236, 236);
      width: 10px;
      border: 1px solid #a0a0a0;
      font-weight: 300;
    }

    tr {
      td {
        padding: 10px;
        border: 1px solid #a0a0a0;
        text-align: center;
      }
    }
  }
}
